<header>
    <div class="ui segment">
      <div class="ui stackable menu">
        <a class="item <%= pageVars.name === 'home' ? 'active' : '' %>">Home</a>
        <a class="item <%= pageVars.name === 'aboutus' ? 'active' : '' %>">About Us</a>
        <a class="item <%= pageVars.name === 'links' ? 'active' : '' %>">Links</a>
        <div class="right menu">
          <a class="item <%= pageVars.name === 'login' ? 'active' : '' %>">Login</a>
          <a class="item <%= pageVars.name === 'signup' ? 'active' : '' %>">Sign Up</a>
        </div>
      </div>
    </div>
</header>
